.info-footer__container {
  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 250px;
  padding: 10px;

  background-color: #000;
  color: antiquewhite;
  font-family: "Segoe UI", sans-serif;
}

.info-footer__content {
  display: flex;
  margin: auto;
  align-items: center;
}

.info-footer__content >p {
    margin-left: 500px ;
}