<div class="home__container">
  <app-card 
    gameCover="https://cdn.cloudflare.steamstatic.com/steam/apps/345820/library_600x900_2x.jpg?t=1572910710"
    gamePrice="R$ 36,99"
    gameType="Digital"
    gameLabel="Exclusive"
    />
  <app-card 
    gameCover="https://cdn.cloudflare.steamstatic.com/steam/apps/692850/library_600x900_2x.jpg?t=1669134724"
    gamePrice="R$ 75,49"
    gameType="Digital"
    gameLabel="Exclusive"
    />
    <app-card 
    gameCover="https://cdn.cloudflare.steamstatic.com/steam/apps/586140/library_600x900_2x.jpg?t=1638944011"
    gamePrice="R$ 72,99"
    gameType="Digital"
    gameLabel="Exclusive"
    />
    <app-card 
    gameCover="https://cdn.cloudflare.steamstatic.com/steam/apps/1065180/library_600x900_2x.jpg?t=1667371981"
    gamePrice="R$ 37,99"
    gameType="Digital"
    gameLabel="Exclusive"
    />
    <app-card 
    gameCover="https://cdn.cloudflare.steamstatic.com/steam/apps/999020/library_600x900_2x.jpg?t=1565074375"
    gamePrice="R$ 99,90"
    gameType="Digital"
    gameLabel="Exclusive"
    />
    <app-card 
    gameCover="https://cdn.cloudflare.steamstatic.com/steam/apps/1451940/library_600x900_2x.jpg?t=1689126165"
    gamePrice="R$ 30,99"
    gameType="Digital"
    gameLabel="Exclusive"
    />
</div>
