@media screen and (max-width: 960px) {
    .info__container{
        display: flex;
        flex-direction: column;

    }
      .game__header{
    
        height: 1000px;
        width: 100%;
      }
}
